.data/.kubeconfig
.data/istio-sidecar
!.data/istio-sidecar/lib/systemd/system/istio.service
!.data/istio-sidecar/usr/local/bin/istio-start.sh
!.data/istio-sidecar/var/lib/istio/envoy_bootstrap_tmpl.json
!.data/istio-sidecar/var/lib/istio/sidecar.env
.data/workload-files
.tmp/
install.arm64.binary.patches.sh
install.eastwest.gateway.sh
install.istio.sh
install.k3s.sh
install.route.to.vm.sh
install.vm.sh
install.workload.sh
run.env
